<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      Tasks
    </li>
    <li class="breadcrumb-item active" aria-current="page">Add Task</li>
    <li class="breadcrumb-item">
      <a routerLink="../">Task List</a>
    </li>
  </ol>
</nav>

<form class="container" [formGroup]="taskForm" (ngSubmit)="handleSubmit()">
  <mat-card-header>
    <h1 class="text-center card-header">Create New Task</h1>
  </mat-card-header>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Task Type</mat-label>
      <input
        matInput
        type="text"
        formControlName="taskType"
        placeholder="Enter task type"
      />
      <mat-icon matSuffix>info</mat-icon>
      <mat-hint>Enter task type here.</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Responsibility</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter task responsibility"
        formControlName="taskResponsibility"
      />
      <mat-icon matSuffix>how_to_reg</mat-icon>
      <mat-hint>Enter who's responsibility this task is under here.</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Choose task end date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="taskEndDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>Enter task's end date here.</mat-hint>
    </mat-form-field>
  </p>

  <p class="d-flex justify-content-end">
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!this.taskForm.valid"
    >
      Create
    </button>
  </p>
</form>
