<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>

    <li class="breadcrumb-item">
      Guests
    </li>

    <li class="breadcrumb-item">
      <a routerLink="list" routerLinkActive="active">Guests List</a>
    </li>

    <li class="breadcrumb-item">
      <a routerLink="add" routerLinkActive="active">
        Add Guest
      </a>
    </li>

    <li class="breadcrumb-item">
      <a routerLink="update" routerLinkActive="active">
        Update Guest 2
      </a>
    </li>
  </ol>
</nav>

<div class="home">
  <router-outlet></router-outlet>
</div>

home guest page
