<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    MatFormFieldControl
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Filter for a specific log."
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="{{ col }}" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
      <td mat-cell *matCellDef="let row">{{ row[col] }}</td>
    </ng-container>

    <ng-container matColumnDef="actions2" stickyEnd>
      <th mat-header-cell>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          color="primary"
          (click)="handleRowClicked(row)"
        >
          update
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="handleRowClicked(row)"
      title="Click row to edit this guest"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>
